

<div class="row my-row">
  <div class='col-sm-12'> 
    <div class=" my-container">
      <h1>
        <%= @grade.grade %>
      </h1><hr>

      <p id="notice"><%= notice %></p>

      <p>
        <strong>Description:</strong>
        <%= @grade.description %>
      </p>

      <%= link_to 'Back', grades_path %>
    </div>
  </div>
</div>

<div class="row my-row">
  <div class='col-sm-12'> 
    <div class=" my-container">
      <h3>Evaluations</h3><hr>
      <p id="notice"><%= notice %></p>

      <table>
        <thead>
          <tr>
            <th>School year</th>
            <th>Curriculum</th>
            <th colspan="3"></th>
          </tr>
        </thead>

        <tbody>
          <% @evaluations.each do |evaluation| %>
            <tr>
              <td><%= evaluation.school_year %></td>
              <td><%= evaluation.curriculum.name %></td>
              <td><%= link_to 'Show', evaluation %></td>
              <td><%= link_to 'Edit', edit_evaluation_path(evaluation) %></td>
              <td><%= link_to 'Destroy', evaluation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
          <% end %>
        </tbody>
      </table>

      <br>

      <!-- Button trigger modal -->
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
        New Evaluation
      </button>

      <!-- Modal -->
      <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              
              <%= simple_form_for(@evaluation) do |f| %>
                <%= f.error_notification %>
                <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

                <div class="form-inputs">
                  <%= f.association :grade, label_method: :grade, value_method: :id, include_blank: false %>
                  <%= f.association :curriculum, label_method: :name, value_method: :id, include_blank: false %>
                  <%= f.input :school_year %>
                </div>

                <div class="form-actions">
                  <%= f.button :submit, class: 'btn btn-primary btn-my-primary' %>
                </div>
              <% end %>

            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
