

<div class="row my-row">
  <div class='col-sm-12'> 
    <div class=" my-container">
      <p id="notice"><%= notice %></p>

      <p>
        <strong>Name:</strong>
        <%= @curriculum.name %>
      </p>

      <p>
        <strong>Description:</strong>
        <%= @curriculum.description %>
      </p>

      <%= link_to 'Edit', edit_curriculum_path(@curriculum) %> |
      <%= link_to 'Back', curriculums_path %>    
    </div>
  </div>
</div>
