<p id="notice"><%= notice %></p>

<p>
  <strong>Grade:</strong>
  <%= @evaluation.grade %>
</p>

<p>
  <strong>Curriculum:</strong>
  <%= @evaluation.curriculum %>
</p>

<p>
  <strong>School year:</strong>
  <%= @evaluation.school_year %>
</p>

<%= link_to 'Edit', edit_evaluation_path(@evaluation) %> |
<%= link_to 'Back', evaluations_path %>
