
<div class="row my-row">
  <div class='col-sm-12'> 
    <div class=" my-container">
      <p id="notice"><%= notice %></p>

      <h1>Students</h1><hr>
      <span>Import Students</span>
      <%= form_tag import_students_path, multipart: true, class: "import_form" do %>
        <%= file_field_tag :file, required: :true %>
        <%= submit_tag "import", class: 'btn btn-primary btn-sm btn-my-primary' %>
      <% end %> <hr>

      <div class="form-group">
        <label for="school_year_select">Choose school year</label>
        <select class="form-control" id="school_year_select">
          <% Student.order("school_year DESC").distinct.pluck(:school_year).each do |school_year| %>           
            <option value="<%= school_year %>" <%= check_selected(school_year, params[:school_year]) %> ><%= school_year + " - " + (school_year.to_i + 1).to_s %></option>
          <% end %>
        </select>
      </div><hr>
      
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
  Create new Evaluation
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <%= simple_form_for :evaluation , :url => "/evaluation/evaluate", :method => 'post' do |f| %>
        <div class="modal-body">

          <%= f.input :school_year, collection: Student.order("school_year DESC").distinct.pluck(:school_year),:include_blank => false %>
          <%= f.input :curriculum_id, collection: Curriculum.all, label_method: :name, value_method: :id, include_blank: false %>
          <%= f.input :grade_id, collection: Grade.all, label_method: :grade, value_method: :id, include_blank: false %>
          <%= f.input :no_of_student_per_section, as: :numeric, default: "0", input_html: {value: '15', required: "required"} %>
      

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <%= f.button :submit, class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
 <hr>
<input id="myInput" class="form-control form-control-sm" type="text" placeholder="Search here">
<br>
      <table id="myTable">
        <thead>
          <tr>
            <th>Name</th>
            <th>Student no</th>
            <th>school year</th>
            <th>Grade</th>
            <th>Section</th>
            <th>Curriculum</th>
            <th>Average</th>
            <th colspan="2">Action</th>
          </tr>
        </thead>

        <tbody>
          <% @students.each do |student| %>
            <tr>
              <td><%= link_to student.name, student %></td>
              <td><%= student.student_no %></td>
              <td><%= student.full_school_year %></td>
              <td><%= student.grade.grade %></td>
              <td><%= student.section ? student.section.name : "" %></td>
              <td><%= student.curriculum.name %></td>
              <td><%= student.average %></td>
              <td><%= link_to 'Edit', edit_student_path(student), class: "btn btn-info btn-sm" %> <%= link_to 'Delete', student, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger btn-sm" %></td>
              
            </tr>
          <% end %>
        </tbody>
      </table>

      <br>

      <%= link_to 'New Student', new_student_path, class: 'btn btn-primary btn-sm btn-my-primary'  %>     
     
    </div>
  </div>
</div>
