
<div class="row my-row">
  <div class='col-sm-12'> 
    <div class=" my-container">
      <p id="notice"><%= notice %></p>

      <p>
        <strong>Name:</strong>
        <%= @student.name %>
      </p>

      <p>
        <strong>Student no:</strong>
        <%= @student.student_no %>
      </p>

      <p>
        <strong>Grade:</strong>
        <%= @student.grade %>
      </p>

      <p>
        <strong>School Year:</strong>
        <%= @student.full_school_year %>
      </p>

      <p>
        <strong>Birthday:</strong>
        <%= @student.birthday %>
      </p>

      <p>
        <strong>Address:</strong>
        <%= @student.address %>
      </p>

      <p>
        <strong>Contact no:</strong>
        <%= @student.contact_no %>
      </p>

      <p>
        <strong>Email:</strong>
        <%= @student.email %>
      </p>

      <p>
        <strong>Date enrolled:</strong>
        <%= @student.date_enrolled %>
      </p>

      <%= link_to 'Edit', edit_student_path(@student) %> |
      <%= link_to 'Back', students_path %>     
     
    </div>
  </div>
</div>
